@charset "UTF-8";

* {
  /* margin: 0%; */
}

:root {
  --cor00: hsl(4, 100%, 67%);
  --cor01: hsl(234, 29%, 20%);
  --cor02: hsl(235, 18%, 26%)
  --cor03: hsl(231, 7%, 60%);
  --cor04: hsl(0, 0%, 100%);
  --img: url('front-end/assets/images/icon-list.svg');
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: hsl(234, 29%, 20%);
  font-size: 16px;
  flex-direction: column;
}

.container-main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border-radius: 30px;
  background: hsl(0, 0%, 100%);
  padding: 15px 20px 15px 20px;
  height: 550px;
  width: 800px;
}

.container-left {
  width: 430px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.content-left {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: stretch;
  justify-content: center;
  width: 300px;
}

h1 {
  display: flex;
  justify-content: center;
  margin: 0px;
  font-weight: 700;
  font-size: 45px;
  /* font-family: 'Roboto'; */
}

ul {
  width: 320px;
  height: 80px;
  margin: 0px;
  padding-bottom: 40px;
}

li {
  list-style-image: var(--img);
  padding-left: 5px;
}

form {
  display: flex;
  height: 100px;
  flex-direction: column;
  flex-wrap: nowrap;
}

label {
  padding-bottom: 10px;
}

input {
  height: 40px;
    /* width: 2px; */
  border-radius: 5px;
  border: 2px solid hsl(231, 7%, 60%);
  /* padding-bottom: 20px; */
  padding: 15px;
  padding-left: 20px;
  margin-bottom: 10px;
}

a {
  /* width: auto; */
  background: var(--cor01);
  color: var(--cor04);
  padding: 15px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
}

button {
  /* width: auto; */
  background: var(--cor01);
  color: var(--cor04);
  padding: 15px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
}

.container-rigth {
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

.badge-base {
  margin: 20px;
}

@media (min-width: 320px) {
  .img-main {
    display: block;
    height: 550px;
  }
  .img-mobile {
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
  }
}

/* @media (min-width: 330px) {
  .img-main {
    display: block;
    height: 550px;
  }
  .img-mobile {
    display: none;
  }
}
 */
/* @media (max-width: 768px) {
  .content-rigth {
    display: none;
}
} */

.attribution {
  display: flex;
}
